#about-div{
    height: 100vh;
    background: url(../content//background.png);
    background-size: cover;
}


#about-jumbotron{
    display: inline-block;
    margin-top: 2rem;
    text-align: left;
    width: 50%;
    margin-left: 25%;
}