#home-div{
    height: 100vh;
    background: url(../content//background.png);
    background-size: cover;
}


#home-jumbotron{
    background-color: transparent;
    display: inline-block;
    padding-bottom: 0rem;
    margin-top: 2rem;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.nav{
    justify-content: center;
    margin-top: 0%;
}

a{
    color:#212529;
}

