body{
    background: url(../content/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: inline;
   
}

.vid body{
    background: url(../content/video.MOV);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    display: inline;
   
}



.jumbotron{
    background-color: transparent;
    display: inline-block;
    padding-bottom: 0%;
    margin-bottom: 0em;
}

.nav{
    justify-content: center;
    margin-top: 0%;
}

a{
    color:#212529;
}